---
Checks: |
  -*

  # コンパイラの警告を有効化
  ,clang-diagnostic-*

  # LLVMのコーディング規約に基づくチェックを有効化
  ,llvm-*

  # 雑多なチェックを有効化
  ,misc-*

  # 以下の misc 系チェックは除外
  ,-misc-const-correctness
  ,-misc-include-cleaner
  ,-llvm-header-guard
  ,-misc-no-recursion
  ,-misc-non-private-member-variables-in-classes
  ,-misc-unused-parameters
  ,-misc-use-anonymous-namespace

  # 識別子の命名規則に関するチェックを有効化
  ,readability-identifier-naming

  # --- 42 の要件で必須のチェック ---
  # C 言語スタイルの関数 (*printf(), *alloc(), free() など) の使用を警告
  ,cppcoreguidelines-pro-type-cstyle-api

  # 'using namespace' の使用を禁止
  ,google-build-using-namespace

  # --- C++98 準拠のため、近代的な機能に関するチェックを無効化 ---
  ,-modernize-*

HeaderFilterRegex: '.*'

CheckOptions:
  - key: readability-identifier-naming.ClassCase
    value: CamelCase
  - key: readability-identifier-naming.EnumCase
    value: CamelCase
  - key: readability-identifier-naming.StructCase
    value: CamelCase
  - key: readability-identifier-naming.UnionCase
    value: CamelCase
  - key: readability-identifier-naming.FunctionCase   # 関数の命名規則
    value: camelBack
  - key: readability-identifier-naming.MemberCase     # クラスメンバの命名規則
    value: camelBack
  - key: readability-identifier-naming.ParameterCase  # 関数パラメータの命名規則
    value: camelBack
  - key: readability-identifier-naming.VariableCase   # 変数の命名規則
    value: camelBack
  - key: readability-identifier-naming.IgnoreMainLikeFunctions
    value: '1'
  - key: readability-redundant-member-init.IgnoreBaseInCopyConstructors
    value: '1'
  - key: readability-identifier-naming.PrivateMemberPrefix
    value: "_"
...
