[submodule "rpi/lib/rplidar_sdk"]
	path = rpi/lib/rplidar_sdk
	url = https://github.com/Slamtec/rplidar_sdk.git
[submodule "firmware/lib/fusion_upstream"]
	path = firmware/lib/fusion_upstream
	url = https://github.com/xioTechnologies/Fusion
